* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
:root{
    --azul: #0468BF;
    --pretoClaro: #212729;  
    --branco: #fff;
    --bc: #183446;
}

body {
    height: 100vh;
    background-image: url('../img/_back.jpeg');
    background-size: cover;
    background-color: var(--bc);
}

header {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--branco);
}

.points {
    display: flex;
    align-items: center;
    justify-items: baseline;
    padding: 10px;
}

.memory-game {
    width: 500px;
    height: 450px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style:preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}


.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    background: var(--pretoClaro);
    backface-visibility: hidden;
}
.back-face:hover{
    background: black;
}

.front-face {
    transform: rotateY(180deg);
}

/*Modal Game Winner ======================== */
.modal-win{
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.9);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 50pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 5px 5px #fff;
    
    opacity: 0;
    visibility: hidden;
}

@keyframes winner {
    from {font-size: 20pt;}
    to {font-size: 50pt;}
}

.modal-win.active {
    opacity: 1;
    visibility: visible;
    
    animation: winner 3s;
    animation-iteration-count:inherit;
}

.modal-win #restartGame {
    padding: 1.5rem;
    margin-top: 60px;
    background-color: rgb(222, 222, 6);
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(222, 222, .6);
    cursor: pointer;
}

#time {
    margin-top: 2.5rem;
    font-size: 16pt;
    text-shadow: none;
}

/* Responsive ===== */

@media (max-width: 500px){
    .memory-game {
        width: 100%;
    }
    .memory-card {
        width: calc(25% - 10px);
        height: calc(26% - 1px);
        margin: 5px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        cursor: pointer;
    }
    .front-face, .back-face {
        padding: 0.2rem; 
    }
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .modal-win {
        flex-wrap: wrap;
        font-size: 16pt;
    }

    @keyframes winner {
        from {font-size: 1pt;}
        to {font-size: 16pt;}
    }
}