* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --branco: #fefefe;    
    --preto: #212729;
    --cinzinha: #ccc;
    --pretoBackgroundModal: rgba(0,0,0,.7);
    --vermelho: #F23030;
    --verde: #058c42;
    --bc: #183446;
}

html {
    height: 100%;
    width: 100vw;
    background-color: var(--bc);
}

header {
    margin: 3rem;
    text-align: center;
    color: var(--branco);
}

.content {
    padding: 4rem 2.5rem;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
}

.content .escudoTeams {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, .1);
}

.content .escudoTeams figure img {
    width: 100%;  
}

.login form input {
    width: 100%;
    padding: 10px;
    margin: 2px;
    border: none;
    border-bottom: solid 3px #ccc;
    font-size: 12pt;
    outline: none;
    transition: all .5s;
    cursor: pointer;
    background-color: transparent;
    color: var(--branco);
}

.login form input:hover, .login form input:focus {
    border-color: #63adf2;
}

#register, #forgetPassword {
    color: var(--branco);
}

#btnGame {
    width: 100%;
    text-decoration: none;
    font-size: 12pt;
    margin-top: 8px;
    padding: .75rem 1rem;
    border-radius: 4px;
    border: 0;
    background-color: #058c42;
    color: var(--branco);
    cursor: pointer;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: var(--branco);
}