* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --branco: #fefefe;    
    --preto: #212729;
    --cinzinha: #ccc;
    --pretoBackgroundModal: rgba(0,0,0,.7);
    --vermelho: #F23030;
    --verde: #15803d;
    --bc: #183446;
}

body {
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    gap: 3rem;
    padding: 0 .75rem;
    position: relative;

    background-image: url("../img/bg-stadium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

body::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: -1;
}

header {
    text-align: center;
    color: var(--branco);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
}

.content .logoNFL {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;    
}

.content .logoNFL figure img {
    width: 100%;  
}

.login form input {
    width: 100%;
    padding: .75rem .25rem;
    border: none;
    border-bottom: solid 3px #ccc;
    font-size: 12pt;
    outline: none;
    transition: all .5s;
    cursor: pointer;
    background-color: transparent;
    color: var(--branco);
}

.login form input:hover, .login form input:focus {
    border-color: #1e40af;
}

#btnGame {
    width: 100%;
    text-decoration: none;
    font-size: 12pt;
    margin-top: 8px;
    padding: .75rem 1rem;
    border-radius: 4px;
    border: 0;
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
}