* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --branco: #fefefe;    
    --preto: #212729;
    --cinzinha: #ccc;
    --pretoBackgroundModal: rgba(0,0,0,.7);
    --vermelho: #F23030;
    --verde: #679436;
}

html {
    height: 100%;
    width: 100vw;
}

header {
    margin: 3rem;
    text-align: center;
    color: var(--preto);
}

.content {
    padding: 4rem 2.5rem;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content .escudoTeams {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    box-shadow: 1px 6px 30px rgba(0, 0, 0, .1);
}

.content .escudoTeams figure img {
    width: 100%;  
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin-top: 30px;
}

.login form input {
    width: 100%;
    padding: 10px;
    margin: 2px;
    border-bottom: solid 3px #ccc;
    font-size: 12pt;
    outline: none;
    transition: all .5s;
    cursor: pointer;
}
.login form input:hover, .login form input:focus {
    border-color: #343ae9;
}

#register, #forgetPassword {
    color: var(--preto);
}

#btn {
    width: 100%;
    text-decoration: none;
    font-size: 12pt;
    margin-top: 8px;
    padding: .75rem 1rem;
    border-radius: 4px;
    border: 0;
    background-color: #679436;
    color: var(--branco);
    cursor: pointer;
}

.modals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.modals a {
    color: var(--branco);
    text-decoration: none;
    font-size: 8pt;
}

.modals a#forgetPassword {
    margin-left: 7rem;
}

.modal-overlay, .modal-overlay2 {
    width: 100%;
    height: 100%;
    background-color: var(--pretoBackgroundModal);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background:var(--cinzinha);
    padding: 3rem;
    position: relative;
    z-index: 1;
}

#form {
    max-width: 500px;
}

#form h2 {
    margin-bottom: 5px;
    color: #1c1d1c;
    font-size: 14pt;
}

form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11pt;
    cursor: pointer;
}

.input-group.actions {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
   width: 100%;
}   

.input-group.actions .btn-cancel, .input-group.actions .btn-salve {
    text-decoration: none;
    color: #1c1d1c;
    width: 50%;
    text-align: center;
    transition: all .2s;
}

.input-group.actions .btn-cancel{
    padding: 0.5rem;
    border: solid 3px var(--vermelho);
    margin-right: 50px;
}
.input-group.actions .btn-cancel:hover{
    background-color: var(--vermelho);
    color: #fff;
}

.input-group.actions .btn-salve {
    border: solid 3px var(--verde);
    padding: 0.6rem;
    background-color: transparent;
}

.input-group.actions .btn-salve:hover{
    background-color: var(--verde);
    color: #fff;
    cursor: pointer;
}

footer {
    margin: 50px;
    color: var(--preto);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--preto);
}

footer img {
    width: 1.5%;
}